<template>
    <div class="Card">
        <img class="photo" :src="apprenant.Img" >
        <h2 >{{ apprenant.Nom }} {{ apprenant.Prénom}}</h2>
            <div class="overlay">
                    <div class="text"> {{ apprenant.Mail }} {{ apprenant.Tel }}
                        Date de Naissance : {{ apprenant.Naissance }}
                    </div>
            </div>
    </div>
</template>
<script>
/* eslint-disable */
export default {
  name: 'Card',
  props: ['apprenant']
}
</script>

<style>

.Card{
    -webkit-box-shadow: 0px 0px 55px 10px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 55px 10px rgba(0,0,0,1);
    box-shadow: 0px 0px 55px 10px rgba(0,0,0,1);
    width: 300px;
    height: 150px;
    margin:1.5rem;
    padding:1rem;
    border-radius: 5%;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;

    
}
.photo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
   
}


.overlay {
  display: flex;
  justify-content: center;
  text-align: center; 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  border-radius: 5%;

}

.Card:hover .overlay {
  opacity: 1;
}

.text {    
  color: white;
  font-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
</style>
