<template>
  <div id="app">
    <header class="header">
      <div class="container">
      <img class= "simplon" src="https://simplon.co/wp-content/uploads/2017/12/simplon-occitanie-1.png">
      <div class="overlayApp">
        <img class= "ecole" src="https://www.lourdes.fr/images/1-Menu/Economie-Emploi/emploi-formation/Ecole_R%C3%A9gionale_du_Num%C3%A9rique/LOGO_ERN-DROITE-300x111.jpg">
      </div>
    </div>
      <div id='buttons'>
      <h1>Dévélopeur Web et Mobile Promotion II Cahors</h1>
      <input type="text" v-model="search" placeholder="search apprenant"/>
      <button class = 'button' v-on:click ="sortApprenantsByFirstName">Sort alphabétique</button>
      <button class = 'button' v-on:click = "sortApprenantsByDate">Sort by Date</button>
    </div>
    </header>
    <Card v-for="(apprenant, index) in filteredApprenants" :apprenant="apprenant" :key="index"/>
  </div>
</template>

<script>
/* eslint-disable */
import Card from './components/Card'
import json from '../apprenants.json'



export default {
  name: 'App',
  components: {
    Card
  },
  data () {
    return {
      apprenants: json,
      search : '',
      lastDateOrder : "",
      lastAlphabetiqeOrder : ""
    }
  },

computed:{

  filteredApprenants(){
    return this.apprenants.filter((apprenant)=>{
      let string = apprenant.Nom + apprenant.Prénom + apprenant.Mail + apprenant.Tel;
      return string.toLowerCase().match(this.search.toLowerCase());
    });
  }},

methods:{

sortApprenantsByFirstName(){
     if (this.lastAlphabetiqeOrder == "" || this.lastAlphabetiqeOrder == "mont"){

        this.apprenants = [...this.apprenants].sort((a, b) => {
        if (a.Nom < b.Nom) return -1;
        if (a.Nom > b.Nom) return 1;
      });
        this.lastAlphabetiqeOrder = "desc"
        return 0;
      }
      else {
          this.apprenants = [...this.apprenants].sort((a, b) => {
        if (a.Nom > b.Nom) return -1;
        if (a.Nom < b.Nom) return 1;
      });
        this.lastAlphabetiqeOrder = "mont"
        return 0;
      }
    },

  sortApprenantsByDate() {
     if (this.lastDateOrder == "" || this.lastDateOrder == "mont") {

        this.apprenants.sort( ( a, b) => {
            return new Date(a.Naissance) - new Date(b.Naissance);
        });
        this.lastDateOrder = "desc"
        return this.apprenants;
     }
     else{
        this.apprenants.sort( ( a, b) => {
            return new Date(b.Naissance) - new Date(a.Naissance);
        });
        this.lastDateOrder = "mont"
        return this.apprenants;
     }
    }
}
}

</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC');
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #B5EDE6;
  font-family: 'Noto Serif SC', serif;
}
.header{
  width: 100%;
  background-color: white;
  padding-bottom: 20px;
}
.container{
  width: 100%;
  padding-bottom: 10px;
  background-color: white;
  align-items: center;
  position: relative;
  
}
.simplon{
  width: 20%;
  text-align: center;
}
.overlayApp {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.container:hover .overlayApp {
  opacity: 1;
}

.ecole {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

</style>
